.button-primary-light {
  background-color: #d22828;
  border: 1px solid #d22828;
  color: #ffffff;
}

.button-primary-light img {
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(220deg) brightness(103%)
    contrast(105%);
}

.button-primary-light:hover {
  opacity: 0.8;
}

.button-primary-dark {
  background-color: #22222e;
  color: #f2f2f2;
}

.button-primary-dark img {
  filter: invert(99%) sepia(82%) saturate(145%) hue-rotate(209deg) brightness(119%)
    contrast(90%);
}

.button-primary-dark:hover {
  opacity: 0.8;
}

.button-secondary-light {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #55677d;
}

.button-secondary-light img {
  filter: invert(40%) sepia(13%) saturate(853%) hue-rotate(173deg) brightness(93%)
    contrast(87%);
}

.button-secondary-light:hover {
  border: 1px solid #55677d;
  background: #f2f2f2;
}

.button-secondary-dark {
  border: 1px solid #adb5bd;
  background: none;
  color: #adb5bd;
}

.button-secondary-dark:hover {
  color: #55677d;
  border: 1px solid #55677d;
}

.button-secondary-dark img {
  filter: invert(85%) sepia(6%) saturate(418%) hue-rotate(169deg) brightness(88%)
    contrast(82%);
}

.button-link-light,
.button-link-dark {
  color: #20b5ee;
  border: none;
}

.button-link-light img,
.button-link-dark img {
  filter: invert(64%) sepia(60%) saturate(2702%) hue-rotate(162deg) brightness(97%)
    contrast(92%);
}

.button-link-light:hover {
  color: #55677d;
}

.button-link-light:hover img {
  filter: invert(40%) sepia(13%) saturate(853%) hue-rotate(173deg) brightness(93%)
    contrast(87%);
}
.button-link-dark:hover {
  color: #f2f2f2;
}

.button-link-dark:hover img {
  filter: invert(99%) sepia(82%) saturate(145%) hue-rotate(209deg) brightness(119%)
    contrast(90%);
}

.button-color-red {
  color: #ffffff;
}
.button-color-black {
  background-color: #22222e;
  color: #f2f2f2;
}

.button-with-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
