@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* body background color */
    --body: hsl(220, 9%, 94%);

    /* components background */
    --background: hsl(0, 0%, 100%);
    /* text color */
    --foreground: hsl(222, 0.2, 84%, 4.9%);

    /* buttons */

    /* primary button bg color */
    --primary: hsl(0, 68%, 49%);
    /* primary button bg on hover color */
    --primary-hover: hsl(0, 70%, 45%);
    /* primary button text color */
    --primary-foreground: hsl(0, 0%, 100%);

    /* TODO: comment all colors */

    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(213, 19%, 41%);
    --secondary-border: hsl(210, 40%, 96.1%);
    --secondary-borderHover: hsl(213, 19%, 41%);

    /* nav button mobile */

    --nav: hsl(0, 0%, 100%);
    --nav-foreground: hsl(0, 0%, 16%);

    /* --outline: ; */
    --outline-foreground: hsl(213, 19%, 41%);
    --outline-border: hsl(213, 19%, 41%);
    --outline-hover: hsl(210, 11%, 71%);

    /* --link: #fff; */
    --link-foreground: hsl(213, 19%, 41%);
    --link-hover: hsl(197, 86%, 53%);

    /* inputs & textarea */

    --input: hsl(0, 0%, 95%);
    --input-foreground: hsl(0, 0%, 16%);
    --input-background: hsl(0, 0%, 100%);
    --input-hoverBorder: hsl(216, 100%, 64%);
    --input-errorBorder: hsl(0, 68%, 49%);

    /* avatar */

    --avatar-foreground: hsl(0, 0%, 16%);

    /* text */

    --text: hsl(0, 0%, 95%);
    --text-foreground: hsl(0, 0%, 16%);

    /* select */

    --select: hsl(0, 0%, 100%);
    --select-itemHover: hsl(0, 0%, 95%);

    /* action button */

    --action-activeBorder: hsl(0, 68%, 49%);
    --action-imgColor: hsl(213, 19%, 41%);
    --action-imgActiveColor: hsl(0, 68%, 49%);

    /* card (message) */

    --message: hsl(0, 0%, 100%);
    --message-hover: hsl(0, 0%, 100%);
    --message-border: hsl(0, 0%, 95%);
    --message-hoverBorder: hsl(0, 68%, 49%);

    /* card (liked) */

    --liked-foreground: hsl(0, 0%, 16%);
    --liked-dateForeground: hsl(0, 0%, 16%);

    /* card (request) */

    --request-foreground: hsl(0, 0%, 16%);

    /* card (friend) */

    --friendCard-foreground: hsl(0, 0%, 16%);

    /* setting button */

    --setting: hsl(0, 0%, 100%);
    --setting-active: hsl(0, 0%, 95%);
    --setting-border: hsl(0, 0%, 95%);
    --setting-foreground: hsl(0, 0%, 16%);
    --setting-activeForeground: hsl(0, 0%, 16%);

    /* others */

    --border: hsl(214.3, 31.8%, 91.4%);
    --ring: hsl(222.2, 84%, 4.9%);

    --radius: 0.5rem;
  }

  .dark {
    --body: hsl(240, 19%, 12%);

    --background: hsl(240, 15%, 16%);
    --foreground: hsl(210, 40%, 98%);

    /* buttons */

    --secondary: hsl(240, 11%, 14%);
    --secondary-hover: hsl(240, 15%, 16%);
    --secondary-foreground: hsl(0, 0%, 95%);
    --secondary-hover: hsl(240, 15%, 16%);
    --secondary-border: hsl(240, 11%, 14%);
    --secondary-border-hover: hsl(240, 15%, 16%);

    --outline-foreground: hsl(210, 11%, 71%);
    --outline-border: hsl(210, 11%, 71%);
    --outline-hover: hsl(213, 19%, 41%);

    /* nav button mobile */

    --nav: hsl(240, 15%, 16%);
    --nav-foreground: hsl(0, 0%, 95%);

    /* --link: ; */
    --link-foreground: hsl(0, 0%, 95%);

    /* inputs */

    --input: hsl(213, 19%, 41%);
    --input-foreground: hsl(0, 0%, 95%);
    --input-background: hsl(240, 15%, 16%);
    --input-hoverBorder: hsl(197, 86%, 53%);
    --input-errorBorder: hsl(0, 68%, 49%);

    /* avatar */
    --avatar-foreground: hsl(0, 0%, 95%);

    /* text */

    --text: hsl(240, 11%, 14%);
    --text-foreground: hsl(0, 0%, 95%);

    /* select */

    --select: hsl(240, 15%, 16%);
    --select-itemHover: hsl(240, 11%, 14%);

    /* action button */

    --action-activeBorder: hsl(0, 68%, 49%);
    --action-imgColor: hsl(213, 19%, 41%);
    --action-imgActiveColor: hsl(240, 15%, 16%);

    /* card (message) */

    --message: hsl(240, 15%, 16%);
    --message-hover: hsl(240, 11%, 14%);
    --message-border: hsl(213, 19%, 41%);
    --message-hoverBorder: hsl(213, 19%, 41%);

    /* card (liked) */

    --liked-foreground: hsl(213, 19%, 41%);
    --liked-dateForeground: #55677d;

    /* card (request) */

    --request-foreground: hsl(0, 0%, 95%);

    /* card (friend) */

    --friendCard-foreground: hsl(0, 0%, 95%);

    /* setting button */

    --setting: hsl(240, 15%, 16%);
    --setting-active: hsl(240, 11%, 14%);
    --setting-border: hsl(213, 19%, 41%);
    --setting-foreground: hsl(213, 19%, 41%);
    --setting-activeForeground: hsl(0, 0%, 95%);

    /* others */

    --border: hsl(217, 0.2, 32) 6% 17.5%;
    --ring: hsl(212, 0.7, 26) 8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--body);
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d22828;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a01d1d;
}
