@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* body background color */
    --background: 0 0% 100%;
    /* text color */
    --foreground: 222.2 84% 4.9%;

    /* primary button bg color */
    --primary: 0 68% 49%;
    /* primary button bg on hover color */
    --primary-hover: 0 70% 45%;
    /* primary button text color */
    --primary-foreground: 0 0% 100%;

    /* TODO: comment all colors */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 213 19% 41%;
    --secondary-border: 210 40% 96.1%;
    --secondary-borderHover: 213 19% 41%;

    /* --outline: ; */
    --outline-foreground: 213 19% 41%;
    --outline-border: 213 19% 41%;
    --outline-hover: 210 11% 71%;

    /* --link: #fff; */
    --link-foreground: 213 19% 41%;
    --link-hover: 197 86% 53%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 15% 16%;
    --foreground: 210 40% 98%;

    --secondary: 240 11% 14%;
    --secondary-hover: 240 15% 16%;
    --secondary-foreground: 0 0% 95%;
    --secondary-hover: 240 15% 16%;
    --secondary-border: 240 11% 14%;
    --secondary-border-hover: 240 15% 16%;

    /* --outline: ; */
    /* --outline-foreground: 213 19% 41%;
    --outline-border: 213 19% 41%;
    --outline-hover: 210 11% 71%; */
    --outline-foreground: 210 11% 71%;
    --outline-border: 210 11% 71%;
    --outline-hover: 213 19% 41%;

    /* --link: ; */
    --link-foreground: 0 0% 95%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
