@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border dark:border-borderDark;
  }
  body {
    @apply bg-body dark:bg-bodyDark text-signalBlack dark:text-ghostlyWhite;
  }

  /* Scroll bar */

  /* width */
  ::-webkit-scrollbar {
    /* width: 7px; */
    /* Эксперемент с нулевым скроллом */
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply: bg-body dark:bg-bodyDark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d22828;

    /* Вроде так красивше вышло, чекни скроллбары */
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a01d1d;
  }
}

html {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Отключает изменение цвета background и color у input при автозаполнении*/
html.light input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: #000;
}
html.dark input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #23232f inset !important;
  -webkit-text-fill-color: #fff;
}
